{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
    <h1>Delete Account</h1>
    <br>
    <hr>
    <form method="post">
    {% csrf_token %}
    <p>Are you sure?</p>

    <br>
    <a href="{% url 'profile' %}">Go back</a>
    <br>
    <input class="btn btn-danger" type="submit"  value="submit" />
</form>
    
    </div> 
</body>
</html>